.wrap {
  // padding-bottom: 50px;

  .el-header,
  .el-main,
  .el-footer {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .fixe {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #999;
    height: 50px;
    width: 100%;

    ul {
      width: 100%;
      display: flex;
      margin-top: 5px;

      li {
        text-align: center;
        flex: 1;

        // display: flex;
        // line-height: 50px;
        a {
          display: inline-block;
          // width: 45px;

          img {
            width: 25px;
            height: 25px;

            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .el-footer {
    padding-bottom: 20px;
  }

  .find {
    display: inline-block;
    height: 45px;
    width: 100%;
    color: #666;
    background-color: rgb(200, 200, 200);
    // margin: 0 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    line-height: 45px;

  }
}
